@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
  }

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    width: 100%;
    margin: auto;
    padding: 30px 40px 40px 40px;
    background-color: #ff5500;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-details img {
    max-height: 30px;
    margin-right: 5px;
    align-self: center;
}

.logo-details span {
    font-weight: 600;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}


.media-icons {
    background-color: rgba(0, 128, 0, 0);
}

.media-icons a i {
    color: white;
    background-color: rgba(255, 68, 0, 0);
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
    transition: 0.3s;
}

.media-icons a i:hover{
    color: #b6b6b6;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}


footer .bottom-details {
    width: 100%;
    background: #802a00;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }

    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }

    footer svg {
        margin-bottom: -1px;
    }
}